html, body {
  margin: 0;
  padding: 0;
}  

header{
  background:url(https://i.postimg.cc/wB77552j/pexels-miguel-padri-n-194096.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header,
section,
footer {
    margin: 0;
    padding: 0px; /* tweaked from 0 to 1px */
}

header div{
  font-size: 2rem; padding: 1rem;
  background-color: black;
  color: #C4A974;
  font-weight: bold;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  width: 80%;
  height: 200px;
}

textarea {
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    display: block;
    border: 3px solid #C4A974;
    border-radius: 4px;
    height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #C4A974;
    font-size: larger;
   }

button {
    color: #C4A974;
    font-weight: bold;
    font-size: larger;
    background-color: black;
    border-radius: 12px;
    padding: 15px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #outdiv{
  font-size: x-large;
  text-align: center;
  color: black;
  background-color: #C4A974;
  padding: 0 0;
  margin: 0%;
  }

.social-footer {
    padding: 1rem;
    background: black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
    color: white;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }